<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{folder}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-list *ngIf="folder === 'List'"></app-list>
  <app-geolocation *ngIf="folder === 'Geolocation'"></app-geolocation>
  <app-orientation *ngIf="folder === 'Orientation'"></app-orientation>
  <app-draggable *ngIf="folder === 'Draggable'"></app-draggable>
  <app-p-movement *ngIf="folder === 'p-movement'"></app-p-movement>
  <app-combined *ngIf="folder === 'Combined'"></app-combined>
</ion-content>
