<ion-reorder-group disabled="false">
  <ion-reorder>
    <ion-item>
      <ion-label>
        Item 1
      </ion-label>
    </ion-item>
  </ion-reorder>
  <ion-reorder>
    <ion-item>
      <ion-label>
        Item 2
      </ion-label>
    </ion-item>
  </ion-reorder>
  <ion-reorder>
    <ion-item>
      <ion-label>
        Item 3
      </ion-label>
    </ion-item>
  </ion-reorder>
  <ion-reorder>
    <ion-item>
      <ion-label>
        Item 4
      </ion-label>
    </ion-item>
  </ion-reorder>
</ion-reorder-group>
